[mysqld]
log_bin_trust_function_creators=1
max_connections=1000
max_allowed_packet=1073741824
tmp_table_size=134217728
max_heap_table_size=536870912
innodb_buffer_pool_size=8053063680
innodb_flush_method=O_DIRECT
innodb_log_file_size=8053063680
